---
import Layout from "../layouts/Layout.astro";


---
<Layout title="Portafolio app error 404 ">
    <section class="flex overflow-hidden flex-col justify-center items-center px-20 py-24 bg-amber-400 max-md:px-5 w-full h-screen">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/401b005c7c805ccf776513768fdb5fe2c6bdcc7868a55f1e2a6df86f34c13634?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="Hero section banner" class="object-contain rounded-3xl aspect-[1.41] max-w-full max-md:max-w-full" />
    </section>
    
</Layout>