---
import Layout from '../layouts/Layout.astro';
import ExperienceItem from '../components/ExperienceItem';
import Projects from "../components/Projects"
import Technologies from '../components/Section/Technologies.astro';
import AboutMe from '../components/Section/AboutMe.astro';
import Contact from '../components/Section/Contact.astro';
import Footer from '../components/Section/Footer.astro';
import Header from '../components/Header.astro';
---

<Layout  title="Tomas Ramos">
	<Header></Header>
		<main id="experiencia" class="flex flex-col items-center self-center mt- w-full max-w-[1044px] px-4 max-md:mt-10">
		<ExperienceItem/>	  
		</main>
		<section>
			
		</section>
		<div id="proyectos" class="mt-20 ">
			<section id="proyectos" class="mt-12">
				<Projects client:only/>
			</section>
		</div>
		<section id="tecnologias">
			<section class="mt-52 max-md:mt-10 items-center">
			  <h2 data-layername="tecnologias" class="text-center text-6xl font-semibold leading-none text-white max-md:text-4xl max-w-4xl mx-auto mt">
				Tecnologías
			  </h2>
			  <div class="shrink-0 mt-2.5 border-violet-800 border-solid border-[5px] h-[9px] w-[125px] mx-auto" />
			  <p data-layername="miAreaPrincipalDeEspecializacionEsElDesarrolloFrontendPeroMiFormacionEsFullStack" class="text-center mt-16 text-lg leading-none text-white max-md:mt-10 max-w-4xl mx-auto">
				Mi área principal de especialización es el desarrollo Frontend pero mi formación es FullStack.
			  </p>
			  <p class="self-end mt-6 text-lg leading-7 max-w-5xl mx-auto text-white text-center">
				Especialista en desarrollo Frontend con formación Full Stack. Experto en HTML, CSS, JavaScript, React y Astro para crear interfaces dinámicas. Utilizo Tailwind CSS y Figma para diseño adaptable. En backend, domino Node.js y SQL. Mis conocimientos en Photoshop, Illustrator y After Effects aportan creatividad visual a cada proyecto.
			  </p>
			  <div class="mt-12">
				  <Technologies/>
			  </div>
			  <div class="flex gap-5 justify-between items-center mt-36 max-w-full w-[878px] ">
			</div>
		</section >
		<section id="sobreMi">
		<AboutMe/>
	</section>
	<section id="contacto">
			<Contact/>
		</section>
		<Footer/>
		</section>
		  
	</Layout>
	
	
		<style is:inline>
			.experience-item {
			  position: relative;
			  background: linear-gradient(#13151a,#13151a) padding-box,
						  linear-gradient(145deg,transparent 35%,#e81cff,#40c9ff) border-box;
			  border: 2px solid transparent;
			  border-radius: 5px;
			  transition: all .6s cubic-bezier(.23,1,.32,1);
			  padding: 15px 10px;
			}
			.box-shadow-custom {
	  box-shadow: 0 0 10px rgba(255, 0, 127, 0.8),
				  0 0 20px rgba(255, 0, 127, 0.6),
				  0 0 30px rgba(255, 0, 127, 0.4);
	}
	.glow-effect {
    animation: glow 2s ease-in-out infinite;
  }
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 0, 127, 0.8),
                  0 0 20px rgba(255, 0, 127, 0.6),
                  0 0 30px rgba(255, 0, 127, 0.4);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 0, 127, 1),
                  0 0 40px rgba(255, 0, 127, 0.8),
                  0 0 60px rgba(255, 0, 127, 0.6);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 0, 127, 0.8),
                  0 0 20px rgba(255, 0, 127, 0.6),
                  0 0 30px rgba(255, 0, 127, 0.4);
    }
  }
		  </style>