---
import Hero from "./Hero.astro"
import HomeIcons from "../components/icons/HomeIcons.astro"
import Person from "../components/icons/Person.astro"
import ExperienciaIcon from "../components/icons/ExperienciaIcon.astro"
import ProyectoIcon from "../components/icons/ProyectosIcon.astro"
import TecnologiasIcon from "../components/icons/TecnologiasIcon.astro"
import ContactoIcon from "../components/icons/ContactoIcon.astro"
---

<div data-layername="landingpage" id="inicio" class="flex overflow-hidden flex-col bg-neutral-900 w-screen h-screen">
  <header class="flex relative flex-col justify-center">
    <img loading="lazy" src="/escritorio4.webp" alt="" class="absolute inset-0 object-cover w-screen h-screen" />
    <div id="navbar" class="fixed top-0 left-0 right-0 z-50 transition-all duration-300">
      <div class="flex relative flex-col items-center px-20 pt-10 w-screen max-md:px-5 max-md:max-w-full">
        <div class="bg-black bg-opacity-50 rounded-full px-6 py-3 transition-all duration-300">
          <nav data-layername="navbarButton" class="flex flex-wrap justify-center gap-6 items-center max-w-full text-base text-white opacity-80">
            <a href="#inicio" class="btnd group">
              <HomeIcons className="w-4 h-4 mr-1 group-hover:filter transition-all duration-300" />
              <span class="transition-all duration-300">Inicio</span>
            </a>
            <a href="#sobreMi" class="btnd group">
              <Person class="object-contain z-10 self-start mt-0 aspect-square w-[30px] inline-block mr-1 group-hover:filter group-hover:brightness-125 transition-all duration-300" />
              <span class="transition-all duration-300">Sobre mí</span>
            </a>
            <a href="#experiencia" class="btnd group">
              <ExperienciaIcon className="w-9 h-9 mr-1 group-hover:filter transition-all duration-300"/>
              <span class="transition-all duration-300">Experiencia</span>
            </a>
            <a href="#proyectos" class="btnd group">
              <ProyectoIcon className="w-9 h-9 mr-1 group-hover:filter transition-all duration-300"/>
              <span class="transition-all duration-300">Proyectos</span>
            </a>
            <a href="#tecnologias" class="btnd group">
              <TecnologiasIcon/>
              <span class="transition-all duration-300">Tecnologías</span>
            </a>
            <a href="#contacto" class="btnd group">
              <ContactoIcon/>
              <span class="transition-all duration-300">Contacto</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center m justify-center mb-0 max-w-full w-[790px] max-md:mb-2.5 opacity-90 mx-auto mt-40">
      <div>
        <Hero/>
      </div>
    </div>
  </header>
</div>

<style>
  .btnd {
    font-size: 16px;
    background: transparent;
    border: none;
    padding: 0.2em 0.4em;
    margin: 0 0.2em;
    color: #ffffff;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .btnd::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%; 
    background-color: #fcd34d;
    transition: 0.5s ease;
    transform: scaleX(0); 
  }

  .btnd:hover {
    color: #fcd34d;
    transition-delay: 0.1s;
  }

  .btnd:hover::before {
    transform: scaleX(1); 
  }

  .btnd:hover img {
    filter: brightness(125%);
  }

  nav:hover .btnd:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  .background {
    height: 300px;
  }

  @media (max-width: 768px) {
    .btnd {
      font-size: 14px;
      padding: 0.1em 0.3em;
    }
  }

  .navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 0.5rem;
  }

  .navbar-scrolled .btnd {
    font-size: 14px;
  }

  .navbar-scrolled img,
  .navbar-scrolled :global(svg) {
    width: 24px;
    height: 24px;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const navbar = document.getElementById('navbar');
    const navLinks = document.querySelectorAll('.btnd');

    window.addEventListener('scroll', () => {
      if (window.scrollY > 100) {
        navbar?.classList.add('navbar-scrolled');
      } else {
        navbar?.classList.remove('navbar-scrolled');
      }
    });

    navLinks.forEach((link: Element) => {
      link.addEventListener('click', (e) => {
        e.preventDefault();
        const href = link.getAttribute('href');
        if (href) {
          const targetId = href.substring(1);
          const targetElement = document.getElementById(targetId);
          
          if (targetElement) {
            targetElement.scrollIntoView({
              behavior: 'smooth',
              block: 'start'
            });
          }
        }
      });
    });

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          const id = entry.target.id;
          const correspondingLink = document.querySelector(`a[href="#${id}"]`);
          if (correspondingLink) {
            navLinks.forEach(link => link.classList.remove('text-fcd34d'));
            correspondingLink.classList.add('text-fcd34d');
          }
        }
      });
    }, { threshold: 0.5 });

    document.querySelectorAll('section[id]').forEach((section) => {
      observer.observe(section);
    });
  });
</script>