---
import Hero from "./Hero.astro"
---

<div data-layername="landingpage" class="flex overflow-hidden flex-col bg-neutral-900 w-screen h-screen">
  <header class="flex relative flex-col justify-center">
    <img loading="lazy" src="../../public/escritorio4.jpeg" alt="" class="absolute inset-0 object-cover w-screen h-screen" />
    <div class="flex relative flex-col items-center px-20 pt-10 pb-96 w-screen max-md:px-5 max-md:pb-24 max-md:max-w-full">
      <div class="bg-black bg-opacity-50 rounded-full px-6 py-3 mb-12">
        <nav data-layername="navbarButton" class="flex flex-wrap justify-center gap-6 items-center max-w-full text-base text-white">
          <a href="#inicio" class="btnd group">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/50b0f04f2cf971aca25b1938e9c2d65a06e47fe934c2b3c0649517558dd80f43?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain z-10 self-start aspect-[0.85] w-[30px] inline-block mr-1 group-hover:filter group-hover:brightness-125" />
            Inicio
          </a>
          <a href="#sobreMi" class="btnd group">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a698e2bd2e25291687727273cf6eae3fe4410c1fe764e72fbd2bf0bb7442f54e?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain z-10 self-start mt-0 aspect-square w-[30px] inline-block mr-1 group-hover:filter group-hover:brightness-125" />
            Sobre mi
          </a>
          <a href="#experiencia" class="btnd group">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/27d3c7125be9da30d6e8b3360fa8aea819e105cbed21d9e7abda33b27a2d5eb2?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain aspect-square w-[30px] inline-block mr-1 group-hover:filter group-hover:brightness-125" />
            Experiencia
          </a>
          <a href="#proyectos" class="btnd group">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d30f27e24410bb23549b0eadd489026d9a52af18029d1c11f4a1c8d0d4a63ebd?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain z-10 mt-0 mr-1 aspect-square w-[28px] inline-block group-hover:filter group-hover:brightness-125" />
            Proyectos
          </a>
          <a href="#tecnologias" class="btnd group">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a3bd696a52521aea47e5c41deffdaf4edd7935b2b3e22d9f08da7c2767b745f3?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain mt-0 ml aspect-square w-[30px] inline-block mr-1 group-hover:filter group-hover:brightness-125" />
            Tecnologias
          </a>
          <a href="#contacto" class="btnd group">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/50bd507349116aabac70884f9d1522fd06afe88d6ff5a5d351a4836dc7a63a00?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain z-10 mt-0 aspect-square w-[30px] inline-block mr-1 group-hover:filter group-hover:brightness-125" />
            Contacto
          </a>
        </nav>
      </div>
      <div class="flex flex-col items-center m justify-center mb-0 max-w-full w-[790px] max-md:mb-2.5 opacity-90 mx-auto">
        <!-- <div class="shrink-0 self-stretch h-px border border-white border-solid max-md:max-w-full" /> -->
        <div>
          <Hero/>
        </div>
      </div>
    </div>           
  </header>
</div>

<style>
  .btnd {
    font-size: 16px;
    background: transparent;
    border: none;
    padding: 0.2em 0.4em;
    margin: 0 0.2em;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .btnd::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%; 
    background-color: #fcd34d;
    transition: 0.5s ease;
    transform: scaleX(0); 
  }

  .btnd:hover {
    color: #fcd34d;
    transition-delay: 0.1s;
  }

  .btnd:hover::before {
    transform: scaleX(1); 
  }

  .btnd:hover img {
    filter: brightness(125%);
  }

  nav:hover .btnd:not(:hover) {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  .background {
    height: 300px;
  }

  @media (max-width: 768px) {
    .btnd {
      font-size: 16px;
      padding: 0.2em 0.4em;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const navLinks = document.querySelectorAll('.btnd');

    navLinks.forEach((link) => {
      link.addEventListener('click', (e) => {
        e.preventDefault();
        const targetId = link.getAttribute('href').substring(1);
        const targetElement = document.getElementById(targetId);
        
        if (targetElement) {
          targetElement.scrollIntoView({
            behavior: 'smooth',
            block: 'start'
          });
        }
      });
    });

    // Intersection Observer para detectar la sección visible
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          const id = entry.target.id;
          const correspondingLink = document.querySelector(`a[href="#${id}"]`);
          if (correspondingLink) {
            navLinks.forEach(link => link.classList.remove('text-fcd34d'));
            correspondingLink.classList.add('text-fcd34d');
          }
        }
      });
    }, { threshold: 0.5 });

    document.querySelectorAll('section[id]').forEach((section) => {
      observer.observe(section);
    });
  });
</script>