---
import escritorio from "../../public/escritorio2.jpeg"
---
        
        
        <div data-layername="landingpage" class="flex overflow-hidden flex-col bg-neutral-900">
            <header class="flex relative flex-col justify-center">
              <img loading="lazy" src="../../public/escritorio4.jpeg" alt="" class="absolute inset-0 object-cover w-screen h-screen" style="" />
              <div class="flex relative flex-col items-center px-20 pt-20 pb-96 w-screen  max-md:px-5 max-md:pb-24 max-md:max-w-full">
                <nav data-layername="navbarButton" class="flex flex-wrap gap-4 -mt-10  items-center max-w-full text-lg text-white opacity-90">
                  <div class="inline-flex items-center">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/50b0f04f2cf971aca25b1938e9c2d65a06e47fe934c2b3c0649517558dd80f43?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain z-10 self-start aspect-[0.85] w-[30px]" />
                    <a href="#inicio" class="hover:underline ml-1">Inicio</a>
                  </div>
                  <div class="inline-flex items-center">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a698e2bd2e25291687727273cf6eae3fe4410c1fe764e72fbd2bf0bb7442f54e?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain z-10 self-start mt-0 aspect-square w-[30px] max-md:ml-2.5" />
                    <a href="#sobreMi" class="font-medium hover:underline"><span>Sobre</span> mi</a>
                  </div>
                  <div class="inline-flex items-center">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/27d3c7125be9da30d6e8b3360fa8aea819e105cbed21d9e7abda33b27a2d5eb2?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain aspect-square w-[30px]" />
                    <a href="#experiencia" class="hover:underline">Experiencia</a>
                  </div>
                  <div class="inline-flex items-center">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d30f27e24410bb23549b0eadd489026d9a52af18029d1c11f4a1c8d0d4a63ebd?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain z-10 mt-0 mr-1 aspect-square w-[28px]" />
                    <a href="#proyectos" class="hover:underline">Proyectos</a>
                  </div>
                  <div class="inline-flex items-center">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a3bd696a52521aea47e5c41deffdaf4edd7935b2b3e22d9f08da7c2767b745f3?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain mt-0 ml aspect-square w-[30px] mr-1" />
                    <a href="#tecnologias" class="hover:underline">Tecnologias</a>
                  </div>
                  <div class="inline-flex items-center">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/50bd507349116aabac70884f9d1522fd06afe88d6ff5a5d351a4836dc7a63a00?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain z-10 mt-0aspect-square w-[30px]" />
                    <a href="#contacto" class="hover:underline">Contacto</a>
                  </div>
                </nav>
                <div class="flex flex-col items-center mt-20 justify-center  mb-0 max-w-full w-[735px] max-md:mb-2.5 opacity-90 mx-auto">
                  <div class="shrink-0 self-stretch h-px border border-white border-solid max-md:max-w-full" />
                  
                  <h2 data-layername="holaSoyTomasRamos" class="mt-36 ml-4 text-2xl font-medium text-center text-white max-md:mt-10">
                    Hola, Soy Tomas Ramos
                    <span class="hand-icon" data-astro-cid-anhloy43="">👋</span>
                  </h2>
                  
                  <h1 data-layername="frontEnd" class="ml-10 text-9xl font-bold leading-none text-center max-md:max-w-full max-md:text-4xl">
                    FrontEnd
                  </h1>
                  
                  <h1 data-layername="developer" class="mt-2 ml-10 text-6xl font-bold leading-none text-center text-white max-md:mt-10 max-md:text-4xl">
                    Developer
                  </h1>
                  
                  <div class="flex gap-5 justify-center mt-10 ml-4 max-w-full w-[173px] max-md:mt-10">
                    <a href="https://github.com/tomy1375">
                      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/12da348ff81a38c723a0467c4bd09c4ec4eb530f2d1e234dee2ba525a82fdd78?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="Social media icon" class="object-contain shrink-0 aspect-square w-[65px]" />
                    </a>
                    <a href="https://www.linkedin.com/in/tomas-ramos-b810022b8/">
                      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3795b8f15ae19eeab9e4e37e46e4123457c415899e001c816cef8189a9a3d7ce?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="Social media icon" class="object-contain shrink-0 aspect-square w-[67px]" />
                    </a>
                  </div>
                </div>
                
            </header>
