---
import SocialButton from "./buttons/SocialButton.astro";
---

<section id="inicio" class="hero">
    <div class="background">
      <div class="container-title mb-32 opacity-95">
        <span class="text-white text-lg name">
          Hola, Soy Tomas Ramos
          <span class="hand-icon">👋</span>
        </span>
        <h1 class="frontend-text">
          <span class="typing-text-frontend"></span><span class="cursor-frontend">|</span>
        </h1>
        <h2 class="developer-text">
          <span class="typing-text-developer opacity-95"></span><span class="cursor-developer">|</span>
        </h2>
        <SocialButton class="social-buttons opacity-95" />
      </div>
    </div>
  </section>
  

<script type="module">
  import { gsap } from 'https://cdn.skypack.dev/gsap';

  function initAnimation() {
    gsap.set(['.name', 'h1', 'h2'], { y: 100, opacity: 0, visibility: 'hidden' });

    gsap.to(['.name', 'h1', 'h2'], {
      opacity: 1,
      y: 0,
      visibility: 'visible',
      ease: 'power3.out',
      duration: 1.5,
      stagger: 0.3,
      delay: 0.2,
    });

    gsap.to('.hand-icon', {
      rotation: 360,
      repeat: -1,
      ease: 'none',
      duration: 10,
      transformOrigin: '70% 70%',
    });

    // Typing effect for "FrontEnd"
    typeWriter('.typing-text-frontend', '<FrontEnd>', () => {
      document.querySelector('.frontend-text').classList.add('glow-violet');
      blinkCursor('.cursor-frontend');
    });

    // Typing effect for "Developer"
    gsap.delayedCall(2, () => {
      typeWriter('.typing-text-developer', 'Developer', () => {
        document.querySelector('.developer-text').classList.add('glow-cyan');
        blinkCursor('.cursor-developer');
      });
    });
  }

  function typeWriter(selector, text, callback) {
    const element = document.querySelector(selector);
    let i = 0;

    function type() {
      if (i < text.length) {
        element.textContent += text.charAt(i);
        i++;
        setTimeout(type, 180);
      } else {
        callback();
      }
    }

    type();
  }

  function blinkCursor(selector) {
    gsap.to(selector, {
      opacity: 0,
      repeat: -1,
      yoyo: true,
      duration: 0.7
    });
  }

  document.addEventListener('DOMContentLoaded', initAnimation);
</script>

<style>
    .hero {
        /* position: relative;
        width: 100%;
        height: 900px;  */
    }

    .background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        position: relative;
        background-attachment: fixed;
        width: 100%; 
        height: 800px; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        right: 0px;
        left: 0px;
        top: 0;
    }

    .container-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 10px;
    }
    
    h1, h2 {
        font-weight: 800;
        color: #ffffff; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem; 
    }

    .frontend-text, .developer-text {
        color: #fff;
    }

    .frontend-text.glow-violet {
        animation: neon-glow-violet 1.5s ease-in-out infinite alternate;
    }

    /* .developer-text.glow-cyan {
        animation: neon-glow-cyan 1.5s ease-in-out infinite alternate;
    } */

    @keyframes neon-glow-violet {
        from {
            text-shadow: 
            0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px rgb(178, 20, 209),
                0 0 60px rgb(178, 20, 209);
        }
        to {
            text-shadow: 
            0 0 2.5px #fff,
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px rgb(178, 20, 209),
                0 0 25px rgb(178, 20, 209),
                0 0 30px rgb(178, 20, 209),
                0 0 40px rgb(178, 20, 209),
                0 0 50px rgb(178, 20, 209);
        }
    }

    @keyframes neon-glow-cyan {
        from {
            text-shadow: 
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #0ff,
                0 0 80px #0ff;
        }
        to {
            text-shadow: 
                0 0 2.5px #fff,
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px #0ff,
                0 0 35px #0ff,
                0 0 40px #0ff;
        }
    }

    .cursor-frontend, .cursor-developer {
        font-weight: 100;
        color: #fff;
    }

   .name{
        color: #fff;
        font-weight: 600;
        font-size: 1.3rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
   
    body.open h1, body.open h2, body.open .name, body.open .social-buttons  {
        display: none;
    }

   .hand-icon {
        animation: wave  2.5s infinite;
        transform-origin: 70% 70%;
        display: inline-block;
    }

   @media(min-width:768px){
    h1{
        font-size: 5rem;
        letter-spacing: -6px;
    }
    h2{
        font-size: 3rem;
    }
    }

   @media(min-width:1024px){
    h1{
        font-size: 8rem;
        letter-spacing: -6px;
    }
    h2{
        font-size: 3.5rem;
    }
  }
  @keyframes wave {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(14deg);
        }
        20% {
            transform: rotate(-8deg);
        }
        30% {
            transform: rotate(14deg);
        }
        40% {
            transform: rotate(-4deg);
        }
        50% {
            transform: rotate(10deg);
        }
        60% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
</style>