---
import SocialButton from "./buttons/SocialButton.astro";


---

<section id="inicio" class="hero">
    <div class="background">
      <div class="container-title mb-32">
        <span class="text-white opacity-80 text-lg name">
          Hola, Soy Tomas Ramos
          <span class="hand-icon">👋</span>
        </span>
        <h1>FrontEnd</h1>
        <h2 class="">Developer</h2>
        <SocialButton class="social-buttons" />
      </div>
    </div>
  </section>
  

  <script type="module">
    import { gsap } from 'https://cdn.skypack.dev/gsap';
  
    function initAnimation() {
      gsap.set(['.name', 'h1', 'h2'], { y: 100, opacity: 0, visibility: 'hidden' });
  
      gsap.to(['.name', 'h1', 'h2'], {
        opacity: 1,
        y: 0,
        visibility: 'visible',
        ease: 'power3.out',
        duration: 1.5,
        stagger: 0.3,
        delay: 0.2,
      });

    
      gsap.to('.hand-icon', {
        rotation: 360,
        repeat: -1,
        ease: 'none',
        duration: 10,
        transformOrigin: '70% 70%',
      });
    }
  
    document.addEventListener('DOMContentLoaded', initAnimation);
</script>

<!-- a veces un problema de margenes con el .hero -->
<style>
    .hero {
        /* position: relative;
        width: 100%;
        height: 900px;  */
        
    }

    .background {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        position: relative;
        background-attachment: fixed;
        width: 100%; 
        height: 800px; 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        right: 0px;
        left: 0px;
        top: 0;
    }

    .container-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 10px;
    }
    
    h1 {
        font-size: 4rem;
        font-weight: 800;
        background-color: #000000;
        background-image: ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all .2s;
    }

    h2 {
        height: ;
        font-size: 2.5rem; 
        font-weight: 800;
        color: #ffffff; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   }

   .name{
        color: #fff;
        font-weight: 600;
        font-size: 1.3rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
   
    body.open h1, body.open h2, body.open .name, body.open .social-buttons  {
        display: none;
    }

   .hand-icon {
        animation: wave  2.5s infinite;
        transform-origin: 70% 70%;
        display: inline-block;
    }

   @media(min-width:768px){
    h1{
        font-size: 5rem;
        letter-spacing: -6px;
    }
    h2{
        font-size: 3rem;
    }
    }

   @media(min-width:1024px){
    h1{
        font-size: 8rem;
        letter-spacing: -6px;
    }
    h2{
        font-size: 3.5rem;
    }
  }
  @keyframes wave {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(14deg);
        }
        20% {
            transform: rotate(-8deg);
        }
        30% {
            transform: rotate(14deg);
        }
        40% {
            transform: rotate(-4deg);
        }
        50% {
            transform: rotate(10deg);
        }
        60% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
</style>