---
import Section from './Section.astro';

import Download from '../buttons/Download.astro';
import CVDownloadButton from '../buttons/ButtonDownload';

---

<Section>
     <section id="sobreMi" class="about-section ">
         <section class="flex justify-center items-center max-md:mt-10">
             <div class="max-w-5xl w-full px-5 ">
                    <h2 data-layername="sobreMi" class="text-5xl text-center font-semibold leading-none text-white max-md:text-4xl  ">
                      Sobre Mí
                      <div class="shrink-0 mt-2 mr-16 items-end border-violet-800 border-solid border-[4px] h-[px] w-[100px] mx-auto" />
                    </h2>
                  <h3 data-layername="holaSoyTomasRamos" class="mt-9 text-2xl font-medium leading-none text-violet-800 text-center">
                    Hola, soy Tomas Ramos
                  </h3>
				  <div class="mt-6 max-w-full w-full">
                      <div class="flex gap-5 max-md:flex-col justify-center">
                          <div class="flex flex-col w-2/5 max-md:ml-0 max-md:w-full">
                            <div class="personal-img">
						  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f4843b300d2101bdbc9ef738681866ec2a23fcca2dd84c51745cd5509198ba63?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="Tomas Ramos" class="object-contain w-full aspect-square " />
						</div>
					  </div>
					  <div class="flex flex-col ml-5 w-4/5 max-md:ml-0 max-md:w-full px">
						<p data-layername="soyUnApasionadoPorLaProgramacionLosVideojuegosMangasAnimesPerrosYLaFotografiaComoDesarrolladorFullStackCertificadoPorHenryCuentoConExperienciaEnDesarrolloWebYEnLaOptimizacionDeSistemasDeGestionDeContenidoEstudieLaLicenciaturaEnComposicionMusicalEnLaUniversidadNacionalDeCordobaYMisHabilidadesEnDisenoDigitalPhotoshopIllustratorAfterEffectsAportanUnaVisionEsteticaYCreativaAMisProyectosLograndoProductosDigitalesFuncionalesYVisualmenteAtractivos" class="text-2xl font-light leading-8 text-white max-md:mt-10 max-md:max-w-full opacity-90">
						  <span class="">Soy un apasionado por la programación, los videojuegos, mangas, animes, perros y la fotografía. Como </span>
						  <span class="text-violet-800">Desarrollador Full Stack certificado por Henry</span>
						  <span class="">, cuento con experiencia en desarrollo web y en la optimización de sistemas de gestión de contenido. </span>
						  <br />
						  <br />
						  <span class="">Estudié la </span>
						  <span class="text-violet-800">Licenciatura en Composición Musical</span>
						  <span class="text-violet-800"> en la Universidad Nacional de Córdoba</span>
						  <span class="">, y mis habilidades en diseño digital (Photoshop, Illustrator, After Effects) aportan una visión estética y creativa a mis proyectos, logrando productos digitales funcionales y visualmente atractivos.</span>
						</p>
					  </div>
					</div>
                    </div>
                    <!-- <a href="#" class="flex gap-2.5 px-11 py-3.5 mt-16 max-w-full text-2xl leading-none text-white rounded-[89px] shadow-[0px_8px_21px_rgba(0,0,0,0.16)] w-[298px] max-md:px-5 max-md:mt-10 mx-auto">
					<img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a05dba6650ac1f3d77d6174427783d60532edb1015841cc5c39e9d83d9ff110a?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="" class="object-contain shrink-0 self-start aspect-square w-[35px]" />
					<span data-layername="descargarCv" class="grow shrink w-[159px]">Descargar CV</span>
                         </a> -->
                         <div class="cv-container">
                              <!-- <p >Si estás interesado en conocer más sobre mí, puedes descargar mi Curriculum Vitae:</p>                -->
                              <p data-layername="siEstasInteresadoEnConocerMasSobreMiPuedesDescargarMiCurriculumVitae" class="mt-24 text-xl leading-none text-white max-md:mt-10 max-md:max-w-full text-center">
                                 Si estás interesado en conocer más sobre mí, puedes descargar mi Curriculum Vitae:
                              </p>
                              <div class="mt-2">
                                   <CVDownloadButton cvUrl="https://ejemplo.com/ruta-a-tu-cv.pdf" />
                              </div>
                           
                         </div>
				</div>
			  <!-- </section>
          <h2 class="text-center ml-10">Sobre Mi</h2>
          <div class="about-container">    
               <div class="img-container">             
                    <figure class="personal-img">
                         <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f4843b300d2101bdbc9ef738681866ec2a23fcca2dd84c51745cd5509198ba63?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" alt="Tomas Ramos">
                    </figure>
               </div>
               <div class="text-container max-w-xl">
                    <h3 class="text-3xl text-violet-700 font-semibold ">Hola, soy Tomas Ramos</h3>
                    <p >Soy un apasionado por la programación, los videojuegos, mangas, animes, perros y la fotografía. Como </p>
                    <p ><span class="tecnica" >Desarrollador Full Stack certificado por Henry</span> <span >, cuento con experiencia en desarrollo web y en la optimización de sistemas de gestión de contenido. Estudié la </span> <span class="tecnica">Licenciatura en Composición Musical  </span><span> en la Universidad Nacional de Córdoba, y mis habilidades en diseño digital (Photoshop, Illustrator, After Effects) aportan una visión estética y creativa a mis proyectos, logrando productos digitales funcionales y visualmente atractivos.</span> 
                    </p>
               </div>     
          </div> 
          <div class="cv-container">
               <p >Si estás interesado en conocer más sobre mí, puedes descargar mi Curriculum Vitae:</p>               
               <Download />
          </div>
     </section> -->
</Section>


<style>
     .about-section{   
          display: flex;
          flex-direction: column;
          justify-content: center;
        
     }

     .about-container{
          display: flex;
          flex-direction: column;
          color: #fff;
          gap: 25px;
     }

     .img-container{
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 25px;
     }

     .personal-img{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: auto;
          width: 200px;
          height: 200px;  
          position: relative;
          z-index: 1;  
     }

     .personal-img::before {
          content: '';
          position: absolute;
          top: 101px;
          left: 99px;
          width: 110%;
          height: 110%;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top: 3px solid #FF3CAC; 
          border-right: 3px solid #784BA0; 
          border-bottom: 3px solid #2B86C5; 
          box-sizing: border-box;
          transform: translate(-50%, -50%);
          animation: spin 2s linear infinite;
          z-index: 0;  
     }
 
     .personal-img img{
          width: 100%;
          height: auto;
          border-radius: 100%;
          position: relative;
          z-index: 1;  
     }

     h2{
        font-size: 2.5rem;
        padding: 20px 0 10px 0;
        display: inline-block;
        position: relative;
        color: #fff;
        margin: 30px 0;     
     }

     h2::before {
        content: '';
        position: absolute;
        bottom: 0.80px; 
        left: 0;
        width: 20%; 
      
        white-space: nowrap; 
     }

    
     p{
          font-size: 1rem;
          line-height: 1.6;        
          text-align: center;
     }
    
     .tecnica{
          color:rgb(42, 145, 38);
          font-weight: 400;
     }

     .cv-container{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          padding: 20px 0 0 0;
     }

     .cv-container p{
          color: #ffffff;
          text-align: center;
     }

     body.open .about-container {
     visibility: hidden;
     }

     body.open .about-section {
          display: none;
     }    


     @media(min-width:768px){
          .about-section{
               justify-content: center;
          }

          h2::before {
               width: 5%;           
          }

          .about-container{
               flex-direction: row;
          }

          .text-container{
               width:25%;
          }

     }

     @media(min-width:1024px){
          .about-container{
               justify-content: space-around;
          }

          .personal-img{
               width: 250px;
               height: 250px;
          }
          .personal-img::before{
               top: 127px;
               left: 125px;
          }

          .text-container{
               display: flex;
               flex-direction: column;
               justify-content: center;
          }

          .text-container h3 , p {
               text-align: left;
          }
          
          .cv-container a{
               padding: 20px;
               width: 180px;
          }

     }

     @keyframes spin {
          0% {
          transform: translate(-50%, -50%) rotate(0deg);
          }
          100% {
          transform: translate(-50%, -50%) rotate(360deg);
          }
     }

</style>