---
import { ContactForm } from "../ContactForm";
---

<section id="contacto" class="flex justify-center items-center mt-52 max-md:mt-10">
  <div class="max-w-5xl w-full px-5">
    <h2 class="text-5xl font-semibold leading-none text-white max-md:text-4xl text-center">
      Contáctame
    </h2>
    <div class="shrink-0 mt-1 border-violet-800 border-solid border-[5px] h-[9px] w-[125px] mx-auto"></div>
    <div class="flex flex-wrap gap-5 items-center self-stretch px-5 mt-12 rounded-3xl border-2 border-solid bg-zinc-800 bg-opacity-80 border-gray-600 border-opacity-10 max-md:mt-10 max-md:max-w-full mx-auto">
      <div class="flex flex-col grow shrink self-stretch py-10 pr-5 pl-2 my-auto min-w-[240px] w-[440px] max-md:pl-5 max-md:max-w-full">
        <div class="flex flex-col max-w-full w-[415px]">
          <h3 class="text-3xl font-semibold tracking-tight text-white text-center">
            ¿Trabajamos juntos?
          </h3>
          <p class="mt-2 text-base tracking-normal text-white text-center">
            ¡Hablemos! Estoy abierto a nuevas oportunidades y proyectos creativos.
          </p>
        </div>
        <ContactForm client:load />
      </div>
      <img 
        loading="lazy" 
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/552f251cf52a8830d85c9d5b555f036ef6515128a70bb9d117bdaf4eea1aaafa?placeholderIfAbsent=true&apiKey=9fe8dc76776646f4a6bc648caa0a3bac" 
        alt="Contact illustration" 
        class="object-contain grow shrink opacity-90 rounded-sm self-stretch my-auto aspect-square min-w-[340px] w-[374px] max-md:max-w-full hidden md:block" 
      />
    </div>
  </div>
</section>