<section>
    <slot />
</section>

<style>
    section{
        max-width: = 950px;
        margin: 0 auto 50px;
        padding: 90px 30px;
    }

    body.open section {
        display: none;
    }
</style>