---
const { svgPath, classList } = Astro.props;
---

<div class="icon-container">
    <div class="icon" set:html={svgPath}></div>
</div>

<style>
    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
  
</style>